:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5CF6;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark);
    color: #FFF;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--gray)
}

input, button, textarea {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    resize: none;
}

.main__creating-form__input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

.main__creating-form__input::placeholder,
.main__creating-form__description::placeholder {
    color: var(--gray);
}

.main__creating-form__description {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

.main__creating-form__submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

.main__creating-form__submit:hover {
    opacity: 0.8;
}

.main__creating-form__submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.main__task-list {
    padding: 1rem;
}

.main__task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

.main__task-list__tasks .task {
    background-color: var(--darkest);
    border-radius: 1rem;
}

.main__task-list__tasks .task .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.main__task-list__tasks .task .text:not(:read-only),
.main__task-list__tasks .task .task-description-item:not(:read-only) {
    color: var(--pink);
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: crimson;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    margin: auto 10%;
}

.grid-item {
    grid-column: span 2;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

.grid-item2 {
    grid-row: span 2;
    background-color: #ccc;
    padding: 20px;
    text-align: center;
}

.task-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr 35px;
    grid-gap: 10px;
}

.task-title-item {
    grid-column: 1 / span 2;
    padding: 20px;
    text-align: center;
    color: #FFF;
}

.task-actions-item {
    grid-column: 3 / span 2;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.task-description-item {
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
    padding: 20px;
    text-align: center;
    color: #FFF;
}

.task-date-item {
    grid-column: 4;
    grid-row: 4;
    text-align: center;
}