:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5CF6;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 500px;
    background-color: var(--dark);
    color: var(--light);
    overflow-x: hidden;
}

header {
    padding: 2rem 1rem 2rem 10%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--gray)
}

h2 {
    margin-left: 10%;
}

input, button, textarea {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    resize: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: .5rem;
    margin: auto 10%;
}

.grid-item {
    grid-column: span 2;
    padding: 20px;
    text-align: center;
}

.grid-item2 {
    grid-row: span 2;
    padding: 20px;
    text-align: center;
}

.creating-form {
    width: fit-content;
    padding-left: 1rem;
}

.creating-form__input,
.creating-form__description {
    padding: 1rem;
    border-radius: 1rem;
    
    background-color: var(--darker);
    color: var(--light);
}

.creating-form__input::placeholder,
.creating-form__description::placeholder {
    color: var(--gray);
}

.creating-form__submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

.creating-form__submit:hover {
    opacity: 0.8;
}

.creating-form__submit:active {
    opacity: 0.6;
}

.task-list {
    padding: 1rem;
}

.task-list__tasks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    max-width: 100%;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

.task-list__tasks .task .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.task-list__tasks .task .task-content__title:not(:read-only),
.task-list__tasks .task .task-content__description:not(:read-only) {
    color: var(--pink);
}

.task__task-content {
    width: max-content;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: crimson;
}

.task__task-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr .5fr;
    grid-gap: .5rem;

    background-color: var(--darkest);
    border-radius: 1rem;
}

.task-content__title {
    grid-column: 1 / span 2;
    padding: .5rem;
    text-align: center;
    color: var(--light);
}

.task-content__actions {
    grid-column: 3 / span 2;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.task-content__description {
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
    padding: .5rem;
    text-align: center;
    overflow: hidden;
    color: var(--light);
}

.task-content__date {
    grid-column: 4;
    grid-row: 4;
    text-align: center;

    font-size: 0.5rem;
}

.error,
.task__error {
    display: flex;
    justify-content: center;

    margin-top: .5rem;
    font-size: smaller;

    color: crimson;
}

@media (max-width: 1100px) {
    .creating-form {
        width: fit-content;
        max-width: 100%;
        margin: auto;
    }
    .task-list__tasks {
        flex-direction: column;
        align-items: center;
    }
    .task {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }
    .task__task-content{
        max-width: 100%;
    }
}
